@font-face {
    font-family: "ClioXSlight";
    src : url("../fonts/ClioXSLight-Light.ttf");
}

@font-face {
    font-family: "ClioXSMedium";
    src : url("../fonts/ClioXSMedium-Medium.ttf");
}
 
@font-face {
    font-family: "ClioXSBold";
    src : url("../fonts/ClioXSBold-Bold.ttf");
}

@font-face {
    font-family: "ClioXSBlack";
    src : url("../fonts/ClioXSUltraBlackOb-UltraBlack.ttf");
}